* {
  font-family: "Source Sans Pro", sans-serif; }

p {
  font-size: 16px; }

h1, h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h2 {
  color: #3399cc; }

a {
  color: #3399cc; }

a:hover {
  color: #333; }

.black {
  color: #333; }

.caption {
  font-size: 85%;
  font-style: italic;
  margin-left: 10px;
  color: #777; }

footer {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding: 30px 0; }

.navbar-brand {
  font-family: "Montserrat", sans-serif; }

.navbar-default {
  background: none;
  border: none; }

.navbar-brand {
  padding: 30px; }

.navbar {
  margin-bottom: 0; }

.nav li a {
  font-family: "Montserrat", sans-serif;
  padding: 30px; }

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li .navbar-brand {
  color: #333;
  text-transform: uppercase; }
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  color: #3399cc; }

.navbar-toggle {
  padding: 12px 10px; }

header {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.hero {
  padding: 0; }

.hero-text {
  text-align: center;
  padding: 15% 0;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.5); }

.page-headline {
  font-size: 80px;
  color: #fff; }

@media (max-width: 768px) {
  .page-headline {
    font-size: 40px; } }
.skill-section {
  padding: 20px 0; }

img.tool-icon, img.tool-icon-2x {
  width: 60px;
  max-height: 60px;
  margin: 10px; }

img.tool-icon-2x {
  width: 120px; }

a.work-thumbs {
  display: block;
  position: relative;
  margin: 60px 0 20px; }

a.work-thumbs:hover .work-thumb__overlay {
  display: block; }

.work-thumb__overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .work-thumb__overlay span {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    color: #fff;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
  .work-thumb__overlay span.glyphicon {
    font-size: 120px; }

.project-showcase img {
  margin: 20px 0; }
